* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: #9fd3c7;
}

nav > a {
    margin-left: 20px;
    color: black;
}
nav > a:hover{
    color: #FFFFFF;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 10px 15px;
    text-shadow: #FFFFFF;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.btn-0{
    font-size: medium;
    background-color: white;
    color: black;
    width: 150px;
    height: 40px;
    margin: 30px 30px;
}

.header-1 {
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    padding: 5px 90px;
    position: sticky;
    top: 0;
    background-color: #87CEFA;
    z-index: 5;
}
.header-1 h1, nav, button {
  flex-shrink: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-bottom: 30px;
  }

@media screen and (max-width: 1250px) {
    .video-container video {
      width: 100%; /* Mengisi lebar kontainer */
      height: auto; /* Menyesuaikan tinggi sesuai perbandingan aspek video */

    }
    .container-materi h2 p .btn-1 {
        width: 100%; /* Mengisi lebar kontainer */
      height: auto; /* Menyesuaikan tinggi sesuai perbandingan aspek video */
    }
}
.container {
    background-color: #9fd3c7;
    margin-bottom: 15px;
}

.container-materi {
    position: relative;
    color: #FFFFFF;
}
.container-materi h2 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 5px;
}
.container-materi p {
    text-align: center;
    font-size: 30px;

}
#bawah {
    padding-top: 0;
    background-color: #385170;
}
.btn-1{

    width: 750px;
    height: 40px;
    font-size: 25px;
}
  
  