*
{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;

}
.sidebar   {
    background-color: #121619;
    width: 600px; 
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in .3s;
}
.sidebar.hide {
    width: 87px;
    transition: all ease-out .3s;
}


.sidebar .description-header{

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 10px;
}

.sidebar.hide .description-header{
    display: none;
}
.sidebar a{
    text-decoration: none;
}
.sidebar .header .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
}
.sidebar .list-item .bxl-html5{
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}
.sidebar i {
    color: white;
    margin-right: 8px;
    font-size: 25px;
    text-align: center;
}



.sidebar .main .list-item .description{
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}


.sidebar.hide .main .list-item .description{
    display: none;
}
.sidebar .main .list-item .icon {
    margin-right: 12px;

}
.sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all ease-in .2s;
}
.sidebar .main .list-item:hover {
    background: #00A650;
    transition: all ease-in .2s;
}
.maincontent
{
    background-color: #F2F2F2;
    height: 100vh;
    width: 100vw;
}


.hamMenu {
    cursor: pointer;
}
.hMenu1, .hMenu2, .hMenu3 {
    width: 35px;
    height: 4px;
    border-radius: 15px;
    background-color: #121619;
    margin: 5px;
    transition: all 0.5s;
}
.className .hMenu1 {
    transform: translate(0, 9px) rotate(-45deg);
}
.className .hMenu2 {
    opacity: 0;
}
.className .hMenu3 {
    transform: translate(0, -9px) rotate(45deg);
}
.maincontent .materi1{
    display: block;
    padding: 30px 150px 0 150px; 

}
.maincontent .materi1 h2{
    text-align: center;
    color: #F2F2F2;
    font-size: 60px;
    font-weight: 300;
    background-color: #00A650;  
}
.maincontent .materi1 p{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}
/* .pengenalan {
    color: #4b4b4b;
    top: 15%;
    text-align: center;
}
.pengenalan h1{
    font-size: 75px;
    text-transform: uppercase;
}
.pengenalan p{
    font-size: 45px;
} */


/* #full-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 250px;
    margin-left: 50px;
    text-align: center;
    margin-right: 50px;
}
.servis {
    border-radius: 15px ;
    border: 2px solid;
    border-color: #4b4b4b;
}
.servis img{
    background-size: cover;
}
.servis-tag {
    font-size: 10px;
    margin: 1rem   0;
    display: flex;
    gap: 10px;
    color: #4b4b4b;
    justify-content: center;
    align-items: center;
}
.servis h3 {
    background-color:  #00A650;
    margin: 10px 50px;
}
.servis a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.servis p{
    color: #4b4b4b;
    font-size: 20px;
    margin: 30px 75px;
} */
